:root {
  --text: #000000;  
  --background: #FFFFFF;  
  --text-alt: #FFFFFF;  
  --background-alt: #000000;  
}

html { 
  font-family: monospace, monospace;
}
body { 
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
}
*, *:after, *:before { box-sizing: border-box; font-family: monospace, monospace; }
canvas { background: black; }

@media (prefers-color-scheme: dark) {
  :root {
    --text: #FFFFFF;  
    --background: #000000;  
    --text-alt: #000000;
    --background-alt: #FFFFFF;
  }
}

.text-color { 
  color: var(--text);
}

.background-color { 
  background-color: var(--background);
}

.text-color-alt { 
  color: var(--text-alt);
}

.background-color-alt { 
  background-color: var(--background-alt);
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.animated-button {
  padding: 4px 16px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
  animation: grow .4s 1 linear, pulse 2s infinite ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position:absolute;
  top:0%;
  left:0%;
  height:3em;
  width:16em;
  border-radius:0%;
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform:translateX(-50%) translateY(-50%);
}

.animated-button:hover {
  animation-play-state: paused;
}

.beacon{
}
.animated-button:before{
  position:absolute;
  content:"";
  height:3em;
  width:16em;
  left:0;
  top:0;
  background-color:transparent;
  border-radius:0%;
  box-shadow:0px 0px 0px 1px #000;
  -webkit-animation:active 2s infinite linear;
  animation:active 2s infinite linear;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(.1);
  }
  
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(.1);
  }
  
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes active{
  0%{
    -webkit-transform:scale(.1);
    opacity:1;
  }
  70%{
    -webkit-transform:scale(2.5);
    opacity:1;
  }
  95% { opacity: 1; }
  100%{
    opacity:0;
  }
}

@keyframes active{
  0%{
    transform:scale(.1);
    opacity:1;
  }
  70%{
    transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}

input:focus-visible {
  border-radius: 0!important;
}

button { 
  cursor: pointer;
}
